main {
  min-height: 80vh;
}
a {
  text-decoration: none;
}

/* a:hover {
  text-decoration:none; 
  text-decoration: underline;
  cursor:pointer;  
} */
h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}